* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,black, orange);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.form-input {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    color: white;
    background: transparent;
    font-size: 15px;
    border-radius: 18px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: white;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

input:focus~label, input:valid~label {
    top: -35px;
    font-size: 14px;
}

textarea:focus~label, textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.sender-info {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.sender-info .form-input {
    flex-basis: 48%;
}

.submit-button {
    display: flex;
    justify-content: center;

}