.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 90px;
    color: white;
    font-weight: bold;
    position: relative;
}

p {
    font-size: 35px;
    position: relative;
}

section .animate {
    opacity: 0;
    filter: blur(8px);
    transition: 1s;
}

section.show-animate .animate {
    opacity: 1;
    filter: blur(0);
}

.sec1 p {
    color: #0ef;
}

.sec1 h1 {
    text-shadow: 5px 10px 5px rgba(0, 238, 255, 0.712);
}

.sec1 .animate {
    transform: translateX(-100%);
}

.sec1.show-animate .animate {
    transform: translateX(0);
}

.sec2 p {
    color: white;
    text-shadow: 1px 3px 3px rgba(0,180,0,0.8);
}

.sec2 h1 {
    text-shadow: 5px 10px 5px rgba(0, 200, 0, 0.6);
}

.sec2 .animate {
    transform: translateX(100%);
}

.sec2.show-animate .animate {
    transform: translateX(0);
}

.sec3 p {
    color: #e0f;
}

.sec3 h1 {
    text-shadow: 5px 10px 5px rgba(238, 0, 255, 0.6);
}

.sec3 .animate {
    transform: scale(.7);
}

.sec3.show-animate .animate {
    transform: scale(1);
}

.sec4 p {
    color: #ff0;
}

.sec4 h1 {
    text-shadow: 5px 10px 5px rgba(255, 255, 0, 0.6);
}

.sec4 .showRight-animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2); /* change to liking, match to background */
    transition: 1s;
}

.sec4.show-animate .showRight-animate {
    width: 0;
}

#home {
    background: linear-gradient(#2f3640 15%, rgba(0, 255, 255, 0.3) 85%);
    height: 100vh;
}

#about {
    background: linear-gradient(rgba(0, 255, 255, 0.3), rgb(0,255,0,0.3));
    height: 100vh;
}

#portfolio {
    background: linear-gradient(rgb(0,255,0,0.3), rgba(238, 0, 255, 0.3));
    height: 100vh;
}

#contact {
    background: linear-gradient(rgba(238, 0, 255, 0.3), rgba(238, 255, 0, 0.3));
    height: 100vh;
}