.homepage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.homepage-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.headshot {
    background: #0ef;
    border-radius: 200px;
    box-shadow: inset 0px 0px 40px 40px rgba(0, 200, 255, 0.8);
    filter: blur(1px); /* change to animation or effect maybe later */
}


